.main{
  margin-left: 15%;
  height: inherit;
  width:1000px;
  background-color:rgb(115, 147, 150);


}
.logo{
  width: 300px;
  height: 200px;
  overflow: inherit;
}
.second{
  width:100%;
  height:inherit;



}
.slide{
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-bottom: 1px solid;
  margin-bottom: 2%;

}


#nav{
width: 100%;
height: 47px;

}
#nav ul {

  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 0%;
}

#nav ul li {
  z-index: 2;
  display: inline-block;
  width: 161px;
  height: 45px;
  background: #3f4e45;
  border-right:  #000000;
  text-align: center;
  line-height: 45px;
  position: relative;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;

}

#nav ul li a {
  text-decoration: none;
  color: #d8d8d8;
  display: block;
  font-weight:bolder;

}

#nav ul li a:hover {
  background: #252379;;
    transition: 0.5s;

}

#nav ul ul {
  display: none;
  position: absolute;
  background: #660033;
  font-size: 12px;
  Font-weight: bolder;
}

#nav ul li:hover > ul {
    display:block;

}

#nav ul ul ul {
  display: none;
}

#nav ul ul li:hover ul {
  margin-left: 130px;
  display: block;
  top: 0;
}
.iamge{
  margin-top: 2%;
  width: 50%;
  height: 200px;
}
.welcoome{
  width: 100%;
  height: 500px;
  background-color: black;

}
.wel_mes{
  /*width: 70%;*/
  height: 500px;
  float: left;
  overflow: hidden;
  border:
  padding: 2%;
  padding-left: 12px;
}
.wel_mes h2{
  text-align: center;

}
.login{
  border: 1px solid;
  width: 20%;
  height: 25%;
  float: right;
  text-align: center;
  background-color: ;
  margin-right: 2%;
  padding-bottom: 22px;

}
.f_left{
  color: #d8d8d8;
  width: 20%;
  height: inherit;
  float: left;
  padding-left: 7%;
}
.f_left h3 a{
  color: #d8d8d8;
  text-decoration: none;
  display: block;



}
.f_left ul a{
  color: #d8d8d8;
  text-decoration: none;
  display: block;


}
.f_mid{
  color: #d8d8d8;
  width: 20%;
  height: inherit;
  float: left;
  padding-left: 7%;
}
.f_mid h3 a{
  color: #d8d8d8;
  text-decoration: none;
  display: block;
}
.f_mid ul a{
  color: #d8d8d8;
  text-decoration: none;
  display: block;
}
.notice{
  color: #d8d8d8;
  width:100%;
  height: 150px;
  overflow: hidden;
  background-color:#151515;


}
.f_img{
  color: #d8d8d8;
  float: right;
}
.f3{
  float: right;
  padding: 2%;
  padding-right: 15px;
  margin-top: 70px;
}
